@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
body{
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
h1{
font-family: 'Sigmar One', cursive;
color: white;
text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);
font-size:50px;
}
button{
  height:50px;
  background-color: white;
  border-radius:10px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
table{
  border: 20px ;
  font-size:17px;
}

#tracker{
  padding: 1%;
  font-family: 'Open Sans', sans-serif;
  background-color:white;
  width:450px;
  border-radius: 30px;
  background: linear-gradient(339deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}
#price{
  width:150px;
}
th{
  font-size:30px;
  font-family: 'Raleway', sans-serif;
  padding-bottom:10%;
}

table{
  height:400px;
}

input, select{
  height: 100%;
  font-size:20px;
  font-family: 'Open Sans', sans-serif;
  border-radius:15px;
}
